#ContactPage{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.ClientDesc{
    font-weight: 300;
    font-size: 1rem;
}
.ClientImgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;

}
.ClientImg{
    object-fit: cover;
    width: 25%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
    padding-bottom: 5rem;
}
.Clients{
    padding: 2rem;
}
.ContactPageDes{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.ContactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);

}
.SubmitBtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}
.Links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    height: 3rem;
    width: 3rem;
    
}